<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
	<display-name>POJO-Examples Tapestry Tutorial</display-name>
	<context-param>
		<param-name>tapestry.app-package</param-name>
		<param-value>es.udc.pojo.tapestrytutorial.web</param-value>
	</context-param>
    <context-param>
        <param-name>tapestry.production-mode</param-name>
        <param-value>false</param-value>
    </context-param>	
    <filter>
        <filter-name>app</filter-name>
        <filter-class>org.apache.tapestry5.TapestryFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>app</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
